form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
form input{
    margin: 10px 0px;
}
#name{
    width: 200px;

}
#input_form{
    padding: 30px;
    margin: 20%;
    border: 2px solid black;
}
#num{
    width: 200px;
    margin: 0;
}
#display{
    display: flex;
    height: 300px;
    border: 2px solid black;
    flex-direction: column;
    margin: 0px 20%;
    overflow-y: auto;
}
#display div{
    border: 1px solid black;
    background-color: antiquewhite;
    
}
.items{
    border: 1px solid black;
    background-color: lightgreen;
}
#input_form{
    background-color: beige;
}

#select{
    margin: 10px;
}



